<%- include("./includes/head") %>
  <link rel="stylesheet" href="/assets/css/form.css">
  <script src="/assets/js/index.js" defer></script>
  <title>Actions Note</title>
  </head>

  <body>
    <section class="c-container">
      <!-- MENU -->
      <%- include("./includes/menu") %>

        <!-- CONTENT -->
        <div class="c-content">
          <%- include("./includes/content") %>
          <% if(action == "register") { %>
          <form class="c-content__form" action="/note/form/register" method="POST">
            <% } else { %>
          <form class="c-content__form" action="/note/form/update?id=<%- action == 'edit' ? note._id : '' %>" method="POST">
          <% } %>
            <h2 class="caption"><%- action == "register" ? "Adicionar" : "Editar" %> nota</h2>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="text" name="title" placeholder="Titulo" value="<%- action == 'edit' ? note.title : '' %>" required>
            <textarea placeholder="Descrição" name="description" id="description" rows="10" required><%- action == 'edit' ? note.description : '' %></textarea>
            <div>
              <a href="/">Cancelar</a>
              <button type="submit">Salvar</button>
            </div>
          </form>
        </div>
    </section>
  </body>

  </html>