<%- include("./includes/head") %>
  <link rel="stylesheet" href="/assets/css/view-notes.css">
  <script src="/assets/js/index.js" defer></script>
  <title>Notes</title>
  </head>

  <body>
    <section class="c-container">
      <!-- MENU -->
      <%- include("./includes/menu") %>

      <!-- CONTENT -->
      <div class="c-content">
        <%- include("./includes/content") %>

        <!-- VIEW NOTE -->
        <div class="c-content__content c-view_notes">
          <a href="/">
            <img src="/icons/back.png" alt="Voltar">
          </a>
          <div>
            <h2><%= note.title %></h2>
            <h3><%= note.description %></h3>
          </div>
          <div class="buttons">
            <a style="--_color: #efefef" href="/note/form?action=edit&id=<%= note._id %>">Editar</a>
            <a style="--_color: #f3bf51" href="/note/delete?id=<%= note._id %>">Apagar</a>
            <a style="--_color: rgb(250, 53, 162)" href="/note/favorite?id=<%= note._id %>"><%- note.favorite ? 'Desfavoritar' : 'Favoritar' %></a>
          </div>
      </div>


    </section>
  </body>

  </html>